.version.privacy_statement {
    color: #000018;
    background-color: #414465;
}

.js body {
    visibility: hidden;
}

.js body.initialized {
    visibility: visible;
}

#page {
    border-color: #000000;
    border-width: 0px;
    margin-right: auto;
    background-image: none;
    margin-left: auto;
    background-color: transparent;
    width: 100%;
    z-index: 1;
}

#pu23860 {
    width: 0.01px;
    z-index: 10;
    padding-bottom: 50px;
    margin-right: -10000px;
    height: 0px;
}

#u23860 {
    top: 0px;
    z-index: 10;
    position: fixed;
    height: 95px;
}

#u23860-bw {
    z-index: 10;
}

#u23786 {
    top: 5px;
    width: 295px;
    z-index: 88;
    position: fixed;
}

#u23787 {
    z-index: 12;
}

#u39405-4.MuseLinkActive {
    text-align: center;
    width: 35px;
    top: 28px;
    font-family: lato, sans-serif;
    font-weight: 400;
    line-height: 14px;
    min-height: 20px;
    font-size: 14px;
    background-color: transparent;
    color: #ff9934;
    position: fixed;
}

#u348 {
    top: 5px;
    width: 295px;
    z-index: 70;
    position: fixed;
}

#u348 {
    left: 150px;
}

#u39405-4:hover p {
    visibility: inherit;
    color: #ff9934;
}

#u39406-4 {
    text-align: center;
    width: 35px;
    top: 50px;
    font-family: lato, sans-serif;
    font-weight: 400;
    line-height: 14px;
    min-height: 20px;
    font-size: 14px;
    background-color: transparent;
    color: #666666;
    position: fixed;
}

#u39405-4 {
    text-align: center;
    width: 35px;
    top: 30px;
    font-family: lato, sans-serif;
    font-weight: 400;
    line-height: 14px;
    min-height: 20px;
    font-size: 14px;
    background-color: transparent;
    color: #ff9934;
    position: fixed;
}

#u8695 {
    display: block;
    z-index: 87;
}

#u39405-4:hover,
#u39406-4.MuseLinkActive {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 20px;
    width: 35px;
    margin: 0px;
}

#u39406-4.MuseLinkActive p {
    text-align: center;
    padding-top: 0px;
    color: #666666;
    visibility: inherit;
}

#u39405-2,
#u39406-2 {
    padding-top: 0px;
}

#u27045-7 {
    text-align: justify;
    color: #000000;
    background-color: transparent;
    z-index: 2;
    position: relative;
}

#u27045-2 {
    font-size: 18px;
    font-family: lato, sans-serif;
    line-height: 22px;
    font-weight: 600;
}

#u27045-3 {
    font-size: 18px;
    font-family: lato, sans-serif;
    line-height: 22px;
    font-weight: 300;
}

#u27045-5 {
    font-size: 14px;
    font-family: lato, sans-serif;
    font-weight: 300;
}

#u23861 {
    z-index: 9;
}

#u23861_align_to_page {
    margin-right: auto;
    width: 100%;
    margin-left: auto;
    position: relative;
}

#u23859-8 {
    margin-right: -10000px;
    position: relative;
}

#u23861-bw {
    margin-bottom: -1px;
    z-index: 9;
}

.html {
    background-color: #FFFFFF;
}

body {
    position: relative;
}

@media (min-width: 1401px),
print {
    #muse_css_mq {
        background-color: #FFFFFF;
    }

    #bp_infinity.active {
        display: block;
    }

    #page {
        min-height: 628px;
    }

    #u23786 {
        left: 150px;
    }

    #menuu23830 {
        z-index: 13;
        width: 400px;
        height: 50px;
        position: fixed;
        top: 0px;
        right: 300px;
    }

    #u23831 {
        width: 98px;
        min-height: 50px;
        position: relative;
        margin-right: -10000px;
    }

    #u23832 {
        width: 98px;
        padding-bottom: 36px;
        position: relative;
    }

    #u23832:hover {
        width: 98px;
        min-height: 0px;
        margin: 0px;
    }

    #u23835-4 {
        width: 98px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 40px;
    }

    #u23832:hover #u23835-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 98px;
        margin: 0px -10000px 0px 0px;
    }

    #u27205 {
        width: 98px;
        min-height: 50px;
        position: relative;
        margin-right: -10000px;
        left: 100px;
    }

    #u27208 {
        width: 98px;
        padding-bottom: 36px;
        position: relative;
    }

    #u23832.MuseMenuActive,
    #u27208:hover {
        width: 98px;
        min-height: 0px;
        margin: 0px;
    }

    #u27208.MuseMenuActive {
        width: 98px;
        min-height: 0px;
        margin: 0px;
    }

    #u27209-4 {
        width: 98px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 40px;
    }

    #u23832.MuseMenuActive #u23835-4,
    #u27208:hover #u27209-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 98px;
        margin: 0px -10000px 0px 0px;
    }

    #u27208.MuseMenuActive #u27209-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 98px;
        margin: 0px -10000px 0px 0px;
    }

    #u27296 {
        width: 99px;
        min-height: 50px;
        position: relative;
        margin-right: -10000px;
        left: 200px;
    }

    #u27299 {
        width: 99px;
        padding-bottom: 36px;
        position: relative;
    }

    #u27299:hover {
        width: 99px;
        min-height: 0px;
        margin: 0px;
    }

    #u27300-4 {
        width: 99px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 40px;
    }

    #u27299:hover #u27300-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 99px;
        margin: 0px -10000px 0px 0px;
    }

    #u27387 {
        width: 99px;
        min-height: 50px;
        position: relative;
        margin-right: -10000px;
        left: 301px;
    }

    #u27390 {
        width: 99px;
        padding-bottom: 36px;
        position: relative;
    }

    #u27299.MuseMenuActive,
    #u27390:hover {
        width: 99px;
        min-height: 0px;
        margin: 0px;
    }

    #u27390.MuseMenuActive {
        width: 99px;
        min-height: 0px;
        margin: 0px;
    }

    #u27392-4 {
        width: 99px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 40px;
    }

    #u27299.MuseMenuActive #u27300-4,
    #u27390:hover #u27392-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 99px;
        margin: 0px -10000px 0px 0px;
    }

    #u27390.MuseMenuActive #u27392-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 99px;
        margin: 0px -10000px 0px 0px;
    }

    #u39405-4 {
        z-index: 46;
        right: 115px;
        top: 40px!important;
    }

    #u39406-4 {
        z-index: 50;
        right: 80px;
        top: 40px!important;
    }

    #u27045-7 {
        min-height: 200px;
        margin-right: -10000px;
        margin-top: 210px;
        width: 50.21%;
        left: 24.9%;
    }

    .css_verticalspacer .verticalspacer {
        height: calc(100vh - 460px);
    }

    #u23861 {
        min-height: 33px;
        padding-bottom: 17px;
    }

    #u23859-8 {
        z-index: 38;
        min-height: 15px;
        margin-top: 18px;
        width: 88.69%;
        left: 5.66%;
    }

    #u23861-bw {
        right: 10px!important;
    }

    .verticalspacer {
        min-height: 168px;
    }


    #u8695 {
        left: 34.9%;
        margin-top: 20px;
        position: absolute;
    }

    
    #u24551 {
        top: -190px;
        margin-bottom: -7px;
        width: 8%;
        left: 0%;
        margin-left: 46.01%;
    }

    #u24551 {
        width: 82px;
        margin-right: -10000px;
        margin-top: 915px;
        margin-left: 50%;
        left: -41px;
    }

    #u24551 {
        width: 82px;
        margin-right: -10000px;
        margin-top: 915px;
        margin-left: 50%;
        left: -41px;
    }
    #u24551 {
        z-index: 86;
        background-color: transparent;
        position: relative;
    }

    #u24551 {
        width: 118px;
        left: -59px;
        margin: 284px -10000px -30px 50%;
    }

    #u24551 {
        z-index: 86;
        background-color: transparent;
        position: relative;
    }

    #u24550 {
        min-height: 373px;
    }

    #u24550_align_to_page {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 100%;
    }
}

@media (min-width: 1201px) and (max-width: 1400px) {
    #muse_css_mq {
        background-color: #000578;
    }

    #u8695 {
        left: 34.9%;
        margin-top: 20px;
    }

    #bp_1400.active {
        display: block;
    }

    #page {
        min-height: 650px;
        max-width: 1400px;
    }

    #u23786 {
        left: 100px;
    }

    #menuu23830 {
        z-index: 13;
        width: 400px;
        height: 50px;
        position: fixed;
        top: 0px;
        right: 150px;
    }

    #u23831 {
        width: 98px;
        min-height: 50px;
        position: relative;
        margin-right: -10000px;
    }

    #u23832 {
        width: 98px;
        padding-bottom: 36px;
        position: relative;
    }

    #u23832:hover {
        width: 98px;
        min-height: 0px;
        margin: 0px;
    }

    #u23835-4 {
        width: 98px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 40px;
    }

    #u23832:hover #u23835-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 98px;
        margin: 0px -10000px 0px 0px;
    }
    #u12529 {
        width: 118px;
        left: -59px;
        margin: 284px -10000px -30px 50%;
    }

    #u27205 {
        width: 98px;
        min-height: 50px;
        position: relative;
        margin-right: -10000px;
        left: 100px;
    }

    #u27208 {
        width: 98px;
        padding-bottom: 36px;
        position: relative;
    }

    #u23832.MuseMenuActive,
    #u27208:hover {
        width: 98px;
        min-height: 0px;
        margin: 0px;
    }

    #u27208.MuseMenuActive {
        width: 98px;
        min-height: 0px;
        margin: 0px;
    }

    #u27209-4 {
        width: 98px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 18px;
    }

    #u23832.MuseMenuActive #u23835-4,
    #u27208:hover #u27209-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 98px;
        margin: 0px -10000px 0px 0px;
    }

    #u27208.MuseMenuActive #u27209-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 98px;
        margin: 0px -10000px 0px 0px;
    }

    #u27296 {
        width: 99px;
        min-height: 50px;
        position: relative;
        margin-right: -10000px;
        left: 200px;
    }

    #u27299 {
        width: 99px;
        padding-bottom: 36px;
        position: relative;
    }

    #u27299:hover {
        width: 99px;
        min-height: 0px;
        margin: 0px;
    }

    #u27300-4 {
        width: 99px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 18px;
    }


    #u12529 {
        z-index: 86;
        background-color: transparent;
        position: relative;
    }

    #u27299:hover #u27300-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 99px;
        margin: 0px -10000px 0px 0px;
    }

    #u27387 {
        width: 99px;
        min-height: 50px;
        position: relative;
        margin-right: -10000px;
        left: 301px;
    }

    #u27390 {
        width: 99px;
        padding-bottom: 36px;
        position: relative;
    }

    #u27299.MuseMenuActive,
    #u27390:hover {
        width: 99px;
        min-height: 0px;
        margin: 0px;
    }

    #u27390.MuseMenuActive {
        width: 99px;
        min-height: 0px;
        margin: 0px;
    }

    #u27392-4 {
        width: 99px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 18px;
    }

    #u27299.MuseMenuActive #u27300-4,
    #u27390:hover #u27392-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 99px;
        margin: 0px -10000px 0px 0px;
    }

    #u27390.MuseMenuActive #u27392-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 99px;
        margin: 0px -10000px 0px 0px;
    }

    #u39405-4 {
        z-index: 46;
        right: 97px;
    }

    #u39406-4 {
        z-index: 50;
        right: 62px;
    }

    #u8695 img {
        left: 34.9%;
        margin-top: 20px;
    }

    #u27045-7 {
        min-height: 185px;
        margin-right: -10000px;
        margin-top: 213px;
        width: 47.08%;
        left: 26.43%;
    }

    .css_verticalspacer .verticalspacer {
        height: calc(100vh - 447px);
    }

    #u23861 {
        min-height: 32px;
        padding-bottom: 18px;
    }

    #u23859-8 {
        z-index: 38;
        min-height: 14px;
        margin-top: 18px;
        width: 76.08%;
        left: 12%;
    }

    #u23861-bw {
        min-height: 32px;
        margin-top: -1px;
    }

    body {
        overflow-x: hidden;
    }

    .verticalspacer {
        min-height: 202px;
    }

    #u12529 {
        z-index: 86;
        background-color: transparent;
        position: relative;
    }
    
    #u8695 {
        width: 100%;
    }

    
    #u24551 {
        top: -190px;
        margin-bottom: -7px;
        width: 8%;
        left: 0%;
        margin-left: 46.01%;
    }

    #u24551 {
        width: 82px;
        margin-right: -10000px;
        margin-top: 915px;
        margin-left: 50%;
        left: -41px;
    }

    #u24551 {
        width: 82px;
        margin-right: -10000px;
        margin-top: 915px;
        margin-left: 50%;
        left: -41px;
    }
    #u24551 {
        z-index: 86;
        background-color: transparent;
        position: relative;
    }

    #u24551 {
        width: 118px;
        left: -59px;
        margin: 284px -10000px -30px 50%;
    }

    #u24551 {
        z-index: 86;
        background-color: transparent;
        position: relative;
    }

    #u24550 {
        min-height: 373px;
    }

    #u24550_align_to_page {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 100%;
    }
}

@media (min-width: 961px) and (max-width: 1200px) {
    #muse_css_mq {
        background-color: #0004b0;
    }

    #bp_1200.active {
        display: block;
    }

    #page {
        min-height: 630px;
        max-width: 1200px;
    }


    #u8695 {
        left: 34.9%;
        margin-top: 20px;
    }

    #u23786 {
        left: 100px;
    }

    #menuu23830 {
        z-index: 13;
        width: 400px;
        height: 50px;
        position: fixed;
        top: 0px;
        right: 200px;
    }

    #u23831 {
        width: 98px;
        min-height: 50px;
        position: relative;
        margin-right: -10000px;
    }

    #u23832 {
        width: 98px;
        padding-bottom: 36px;
        position: relative;
    }

    #u23832:hover {
        width: 98px;
        min-height: 0px;
        margin: 0px;
    }

    #u23835-4 {
        width: 98px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 18px;
    }

    #u23832:hover #u23835-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 98px;
        margin: 0px -10000px 0px 0px;
    }

    #u27205 {
        width: 98px;
        min-height: 50px;
        position: relative;
        margin-right: -10000px;
        left: 100px;
    }

    #u27208 {
        width: 98px;
        padding-bottom: 36px;
        position: relative;
    }

    #u23832.MuseMenuActive,
    #u27208:hover {
        width: 98px;
        min-height: 0px;
        margin: 0px;
    }

    #u27208.MuseMenuActive {
        width: 98px;
        min-height: 0px;
        margin: 0px;
    }

    #u27209-4 {
        width: 98px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 18px;
    }

    #u23832.MuseMenuActive #u23835-4,
    #u27208:hover #u27209-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 98px;
        margin: 0px -10000px 0px 0px;
    }

    #u27208.MuseMenuActive #u27209-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 98px;
        margin: 0px -10000px 0px 0px;
    }

    #u27296 {
        width: 99px;
        min-height: 50px;
        position: relative;
        margin-right: -10000px;
        left: 200px;
    }

    #u27299 {
        width: 99px;
        padding-bottom: 36px;
        position: relative;
    }

    #u27299:hover {
        width: 99px;
        min-height: 0px;
        margin: 0px;
    }

    #u27300-4 {
        width: 99px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 18px;
    }

    #u27299:hover #u27300-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 99px;
        margin: 0px -10000px 0px 0px;
    }

    #u27387 {
        width: 99px;
        min-height: 50px;
        position: relative;
        margin-right: -10000px;
        left: 301px;
    }

    #u27390 {
        width: 99px;
        padding-bottom: 36px;
        position: relative;
    }

    #u27299.MuseMenuActive,
    #u27390:hover {
        width: 99px;
        min-height: 0px;
        margin: 0px;
    }

    #u27390.MuseMenuActive {
        width: 99px;
        min-height: 0px;
        margin: 0px;
    }

    #u27392-4 {
        width: 99px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 18px;
    }

    #u27299.MuseMenuActive #u27300-4,
    #u27390:hover #u27392-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 99px;
        margin: 0px -10000px 0px 0px;
    }

    #u27390.MuseMenuActive #u27392-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 99px;
        margin: 0px -10000px 0px 0px;
    }

    #u39405-4 {
        z-index: 46;
        right: 137px;
    }

    #u39406-4 {
        z-index: 50;
        right: 102px;
    }

    #u27045-7 {
        min-height: 200px;
        margin-right: -10000px;
        margin-top: 206px;
        width: 52.34%;
        left: 23.84%;
    }

    .css_verticalspacer .verticalspacer {
        height: calc(100vh - 455px);
    }

    #u23861 {
        min-height: 30px;
        padding-bottom: 20px;
    }

    #u23859-8 {
        z-index: 38;
        min-height: 14px;
        margin-top: 16px;
        width: 71%;
        left: 14.5%;
    }

    #u23861-bw {
        min-height: 30px;
        margin-top: -1px;
    }

    body {
        overflow-x: hidden;
    }

    .verticalspacer {
        min-height: 174px;
    }
}

@media (min-width: 781px) and (max-width: 960px) {
    #muse_css_mq {
        background-color: #0003c0;
    }

    #bp_960.active {
        display: block;
    }

    #page {
        min-height: 606px;
        max-width: 960px;
    }

    #u23786 {
        left: 80px;
    }

    #menuu23830 {
        z-index: 13;
        width: 400px;
        height: 50px;
        position: fixed;
        top: 0px;
        right: 110px;
    }

    #u23831 {
        width: 98px;
        min-height: 50px;
        position: relative;
        margin-right: -10000px;
    }

    #u23832 {
        width: 98px;
        padding-bottom: 36px;
        position: relative;
    }

    #u23832:hover {
        width: 98px;
        min-height: 0px;
        margin: 0px;
    }

    #u23835-4 {
        width: 98px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 18px;
    }

    #u23832:hover #u23835-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 98px;
        margin: 0px -10000px 0px 0px;
    }

    #u27205 {
        width: 98px;
        min-height: 50px;
        position: relative;
        margin-right: -10000px;
        left: 100px;
    }

    #u27208 {
        width: 98px;
        padding-bottom: 36px;
        position: relative;
    }

    #u23832.MuseMenuActive,
    #u27208:hover {
        width: 98px;
        min-height: 0px;
        margin: 0px;
    }

    #u27208.MuseMenuActive {
        width: 98px;
        min-height: 0px;
        margin: 0px;
    }

    #u27209-4 {
        width: 98px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 18px;
    }

    #u23832.MuseMenuActive #u23835-4,
    #u27208:hover #u27209-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 98px;
        margin: 0px -10000px 0px 0px;
    }

    #u27208.MuseMenuActive #u27209-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 98px;
        margin: 0px -10000px 0px 0px;
    }

    #u27296 {
        width: 99px;
        min-height: 50px;
        position: relative;
        margin-right: -10000px;
        left: 200px;
    }

    #u27299 {
        width: 99px;
        padding-bottom: 36px;
        position: relative;
    }

    #u27299:hover {
        width: 99px;
        min-height: 0px;
        margin: 0px;
    }

    #u27300-4 {
        width: 99px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 18px;
    }

    #u27299:hover #u27300-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 99px;
        margin: 0px -10000px 0px 0px;
    }

    #u27387 {
        width: 99px;
        min-height: 50px;
        position: relative;
        margin-right: -10000px;
        left: 301px;
    }

    #u27390 {
        width: 99px;
        padding-bottom: 36px;
        position: relative;
    }

    #u27299.MuseMenuActive,
    #u27390:hover {
        width: 99px;
        min-height: 0px;
        margin: 0px;
    }

    #u27390.MuseMenuActive {
        width: 99px;
        min-height: 0px;
        margin: 0px;
    }

    #u27392-4 {
        width: 99px;
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 18px;
    }

    #u27299.MuseMenuActive #u27300-4,
    #u27390:hover #u27392-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 99px;
        margin: 0px -10000px 0px 0px;
    }

    #u27390.MuseMenuActive #u27392-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 99px;
        margin: 0px -10000px 0px 0px;
    }

    #u39405-4 {
        z-index: 46;
        right: 65px;
    }

    #u39406-4 {
        z-index: 50;
        right: 30px;
    }

    #u27045-7 {
        min-height: 200px;
        margin-right: -10000px;
        margin-top: 186px;
        width: 53.13%;
        left: 23.44%;
    }

    .css_verticalspacer .verticalspacer {
        height: calc(100vh - 436px);
    }

    #u23861 {
        min-height: 38px;
        padding-bottom: 12px;
    }

    #u23859-8 {
        z-index: 38;
        min-height: 27px;
        margin-top: 11px;
        width: 72.09%;
        left: 13.96%;
    }

    #u23861-bw {
        min-height: 38px;
        margin-top: -1px;
    }

    body {
        overflow-x: hidden;
    }

    .verticalspacer {
        min-height: 70px;
    }

    
    #u24551 {
        top: -190px;
        margin-bottom: -7px;
        width: 8%;
        left: 0%;
        margin-left: 46.01%;
    }

    #u24551 {
        width: 82px;
        margin-right: -10000px;
        margin-top: 915px;
        margin-left: 50%;
        left: -41px;
    }

    #u24551 {
        width: 82px;
        margin-right: -10000px;
        margin-top: 915px;
        margin-left: 50%;
        left: -41px;
    }
    #u24551 {
        z-index: 86;
        background-color: transparent;
        position: relative;
    }

    #u24551 {
        width: 118px;
        left: -59px;
        margin: 284px -10000px -30px 50%;
    }

    #u24551 {
        z-index: 86;
        background-color: transparent;
        position: relative;
    }

    #u24550 {
        min-height: 373px;
    }

    #u24550_align_to_page {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 100%;
    }
}

@media (min-width: 381px) and (max-width: 780px) {
    #muse_css_mq {
        background-color: #00030c;
    }

    #bp_780.active {
        display: block;
    }

    #page {
        min-height: 658px;
        max-width: 780px;
    }

    #u23786 {
        left: 20px;
    }

    #u39405-4 {
        z-index: 65;
        right: 46px;
    }

    #u39406-4 {
        z-index: 69;
        right: 46px;
    }

    #u27045-7 {
        min-height: 200px;
        margin-right: -10000px;
        margin-top: 174px;
        width: 65.39%;
        left: 17.31%;
    }

    #pamphletu23788 {
        z-index: 13;
        position: relative;
        margin-right: -10000px;
        width: 81.03%;
        left: 7.7%;
    }

    #pamphletu23788_position_content {
        margin-bottom: -519px;
        width: 100%;
    }

    #u23824 {
        z-index: 14;
        padding-bottom: 50px;
        position: relative;
        width: 7.44%;
        margin-left: 102.22%;
    }

    #u23825 {
        width: 42px;
        height: 16px;
        padding-top: 17px;
        padding-bottom: 17px;
        position: fixed;
        top: 25px;
        right: 0px;
    }

    #u23826 {
        z-index: 17;
        width: 16px;
        height: 3px;
        position: relative;
        margin-left: 31.92%;
    }

    #u23825.PamphletThumbSelected #u23826 {
        width: 16px;
        height: 3px;
        min-height: 0px;
        margin: 0px 0px 0px 31.914893617021278%;
    }

    #u23827 {
        z-index: 18;
        width: 16px;
        height: 3px;
        margin-top: 3px;
        position: relative;
        margin-left: 31.92%;
    }

    #u23825.PamphletThumbSelected #u23827 {
        width: 16px;
        height: 3px;
        min-height: 0px;
        margin: 3px 0px 0px 31.914893617021278%;
    }

    #u23828 {
        z-index: 16;
        width: 16px;
        height: 3px;
        margin-top: 4px;
        position: relative;
        margin-left: 31.92%;
    }

    #u23825.PamphletThumbSelected #u23828 {
        width: 16px;
        height: 3px;
        min-height: 0px;
        margin: 4px 0px 0px 31.914893617021278%;
    }

    #pu23789 {
        z-index: 19;
        width: 100%;
        margin-left: 2.22%;
    }

    #u23789 {
        position: absolute;
        width: 100%;
    }

    #u23789popup {
        z-index: 19;
        height: 520px;
        margin-right: -10000px;
        width: 100%;
    }

    #u23790 {
        z-index: 20;
        padding-bottom: 57px;
        margin-right: -10000px;
        position: relative;
        width: 100%;
    }

    #menuu23791 {
        z-index: 21;
        position: relative;
        margin-right: -10000px;
        margin-top: 69px;
        width: 92.09%;
        left: 3.96%;
    }

    #u23807 {
        min-height: 29px;
        padding-bottom: 49px;
        position: relative;
        margin-right: -10000px;
        width: 100%;
    }

    #u23809-4 {
        min-height: 29px;
        position: relative;
        margin-right: -10000px;
        top: 24px;
        width: 100%;
    }

    #u27481 {
        min-height: 29px;
        padding-bottom: 50px;
        position: relative;
        margin-right: -10000px;
        width: 100%;
    }

    #u27483-4 {
        min-height: 29px;
        position: relative;
        margin-right: -10000px;
        top: 25px;
        width: 100%;
    }

    #u27572 {
        min-height: 29px;
        padding-bottom: 50px;
        position: relative;
        margin-right: -10000px;
        width: 100%;
    }

    #u27573-4 {
        min-height: 29px;
        position: relative;
        margin-right: -10000px;
        top: 25px;
        width: 100%;
    }

    #u27665 {
        min-height: 29px;
        padding-bottom: 50px;
        position: relative;
        margin-right: -10000px;
        width: 100%;
    }

    #u27667-4 {
        min-height: 29px;
        position: relative;
        margin-right: -10000px;
        top: 25px;
        width: 100%;
    }

    #u12529 {
        width: 118px;
        left: -59px;
        margin: 284px -10000px -30px 50%;
    }

    #u23806,
    #u27480,
    #u27571,
    #u27662,
    #u27753 {
        position: relative;
        width: 100%;
    }



    #u27754 {
        min-height: 29px;
        padding-bottom: 50px;
        position: relative;
        margin-right: -10000px;
        width: 100%;
    }

    #u23807.MuseMenuActive,
    #u27481.MuseMenuActive,
    #u27572.MuseMenuActive,
    #u27665.MuseMenuActive,
    #u27754.MuseMenuActive {
        min-height: 29px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u27757-4 {
        min-height: 29px;
        position: relative;
        margin-right: -10000px;
        top: 25px;
        width: 100%;
    }

    #u23807.MuseMenuActive #u23809-4,
    #u27481.MuseMenuActive #u27483-4,
    #u27572.MuseMenuActive #u27573-4,
    #u27665.MuseMenuActive #u27667-4,
    #u27754.MuseMenuActive #u27757-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 29px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u23822 {
        position: absolute;
        padding-bottom: 3px;
        width: 100%;
    }

    #u23823-4 {
        z-index: 53;
        min-height: 22px;
        position: relative;
        margin-right: -10000px;
        margin-top: 5px;
        width: 98.11%;
        left: 1.04%;
    }

    #u23822popup {
        margin-top: 27px;
        height: 30px;
        margin-right: -10000px;
        width: 91.78%;
        margin-left: 4.12%;
    }

    .css_verticalspacer .verticalspacer {
        height: calc(100vh - 426px);
    }

    #u23861 {
        min-height: 41px;
        padding-bottom: 9px;
    }

    #u23859-8 {
        z-index: 57;
        min-height: 32px;
        margin-top: 9px;
        width: 88.72%;
        left: 5.65%;
    }

    #u23861-bw {
        min-height: 41px;
        margin-top: 2px;
    }

    body {
        overflow-x: hidden;
    }

    .verticalspacer {
        min-height: 231px;
    }

    
    #u24551 {
        top: -190px;
        margin-bottom: -7px;
        width: 8%;
        left: 0%;
        margin-left: 46.01%;
    }

    #u24551 {
        width: 82px;
        margin-right: -10000px;
        margin-top: 915px;
        margin-left: 50%;
        left: -41px;
    }

    #u24551 {
        width: 82px;
        margin-right: -10000px;
        margin-top: 915px;
        margin-left: 50%;
        left: -41px;
    }
    #u24551 {
        z-index: 86;
        background-color: transparent;
        position: relative;
    }

    #u24551 {
        width: 118px;
        left: -59px;
        margin: 284px -10000px -30px 50%;
    }

    #u24551 {
        z-index: 86;
        background-color: transparent;
        position: relative;
    }

    #u24550 {
        min-height: 373px;
    }

    #u24550_align_to_page {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 100%;
    }
}

@media (max-width: 380px) {
    #muse_css_mq {
        background-color: #00017c;
    }

    #bp_380.active {
        display: block;
    }

    #u12529 {
        width: 96px;
        top: -190px;;
        margin-bottom: -7px;
        left: 0%;
        margin-left: 46.01%;
    }

    #u12529 {
        width: 118px;
        left: -59px;
        margin: 284px -10000px -30px 50%;
    }

    #page {
        min-height: 660px;
        max-width: 380px;
    }

    #u23786 {
        left: 5px;
    }

    #u39405-4 {
        z-index: 65;
        right: 45px;
        margin-top: -5px!important;
    }

    #u39406-4 {
        z-index: 69;
        right: 44px;
        margin-top: -5px!important;
    }

    #ppamphletu23788 {
        z-index: 13;
        height: 479px;
        margin-right: -10000px;
        width: 88.16%;
        margin-left: 6.06%;
    }

    #pamphletu23788 {
        z-index: 13;
        position: relative;
        width: 100%;
    }

    #pamphletu23788_position_content {
        margin-bottom: -519px;
        width: 100%;
    }

    #u23824 {
        z-index: 14;
        padding-bottom: 50px;
        position: relative;
        width: 14.03%;
        margin-left: 80.9%;
    }

    #u23825 {
        width: 47px;
        height: 16px;
        padding-top: 16px;
        padding-bottom: 18px;
        position: fixed;
        top: 20px;
        right: 5px;
    }

    #u23826 {
        z-index: 17;
        width: 16px;
        height: 3px;
        position: relative;
        margin-left: 31.92%;
    }

    #u23825.PamphletThumbSelected #u23826 {
        width: 16px;
        height: 3px;
        min-height: 0px;
        margin: 0px 0px 0px 31.914893617021278%;
    }

    #u23827 {
        z-index: 18;
        width: 16px;
        height: 3px;
        margin-top: 3px;
        position: relative;
        margin-left: 31.92%;
    }

    #u23825.PamphletThumbSelected #u23827 {
        width: 16px;
        height: 3px;
        min-height: 0px;
        margin: 3px 0px 0px 31.914893617021278%;
    }

    #u23828 {
        z-index: 16;
        width: 16px;
        height: 3px;
        margin-top: 4px;
        position: relative;
        margin-left: 31.92%;
    }

    #u23825.PamphletThumbSelected #u23828 {
        width: 16px;
        height: 3px;
        min-height: 0px;
        margin: 4px 0px 0px 31.914893617021278%;
    }

    #pu23789 {
        z-index: 19;
        margin-top: 4px;
        width: 100%;
    }

    #u23789 {
        position: absolute;
        width: 100%;
    }

    #u23789popup {
        z-index: 19;
        height: 515px;
        margin-right: -10000px;
        width: 100%;
    }

    #u23790 {
        z-index: 20;
        padding-bottom: 52px;
        margin-right: -10000px;
        position: relative;
        width: 100%;
    }

    #menuu23791 {
        z-index: 21;
        position: relative;
        margin-right: -10000px;
        margin-top: 69px;
        width: 92.84%;
        left: 3.59%;
    }

    #u23807 {
        min-height: 29px;
        padding-bottom: 49px;
        position: relative;
        margin-right: -10000px;
        width: 100%;
    }

    #u23809-4 {
        min-height: 29px;
        position: relative;
        margin-right: -10000px;
        top: 24px;
        width: 100%;
    }

    #u27481 {
        min-height: 29px;
        padding-bottom: 50px;
        position: relative;
        margin-right: -10000px;
        width: 100%;
    }

    #u27483-4 {
        min-height: 29px;
        position: relative;
        margin-right: -10000px;
        top: 25px;
        width: 100%;
    }

    #u27572 {
        min-height: 29px;
        padding-bottom: 50px;
        position: relative;
        margin-right: -10000px;
        width: 100%;
    }

    #u27573-4 {
        min-height: 29px;
        position: relative;
        margin-right: -10000px;
        top: 25px;
        width: 100%;
    }

    #u27665 {
        min-height: 29px;
        padding-bottom: 50px;
        position: relative;
        margin-right: -10000px;
        width: 100%;
    }

    #u27667-4 {
        min-height: 29px;
        position: relative;
        margin-right: -10000px;
        top: 25px;
        width: 100%;
    }

    #u23806,
    #u27480,
    #u27571,
    #u27662,
    #u27753 {
        position: relative;
        width: 100%;
    }

    #u27754 {
        min-height: 29px;
        padding-bottom: 50px;
        position: relative;
        margin-right: -10000px;
        width: 100%;
    }

    #u23807.MuseMenuActive,
    #u27481.MuseMenuActive,
    #u27572.MuseMenuActive,
    #u27665.MuseMenuActive,
    #u27754.MuseMenuActive {
        min-height: 29px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u27757-4 {
        min-height: 29px;
        position: relative;
        margin-right: -10000px;
        top: 25px;
        width: 100%;
    }

    #u23807.MuseMenuActive #u23809-4,
    #u27481.MuseMenuActive #u27483-4,
    #u27572.MuseMenuActive #u27573-4,
    #u27665.MuseMenuActive #u27667-4,
    #u27754.MuseMenuActive #u27757-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 29px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u23822 {
        position: absolute;
        padding-bottom: 3px;
        width: 100%;
    }

    #u23823-4 {
        z-index: 53;
        min-height: 22px;
        position: relative;
        margin-right: -10000px;
        margin-top: 5px;
        width: 74.2%;
        left: 12.91%;
    }

    #u23822popup {
        margin-top: 22px;
        height: 30px;
        margin-right: -10000px;
        width: 9.26%;
        margin-left: 45.38%;
    }

    #u27045-7 {
        min-height: 326px;
        margin-top: 103px;
        width: 74.03%;
        margin-left: 12.84%;
    }

    .css_verticalspacer .verticalspacer {
        height: calc(100vh - 529px);
    }

    #u23861 {
        min-height: 42px;
        padding-bottom: 8px;
    }

    #u23859-8 {
        z-index: 57;
        min-height: 32px;
        margin-top: 6px;
        width: 88.69%;
        margin-left: 5.66%;
        left: -1px;
    }

    #u23861-bw {
        min-height: 42px;
        margin-top: -1px;
    }

    body {
        overflow-x: hidden;
        min-width: 320px;
    }

    .verticalspacer {
        min-height: 131px;
    }

    
    #u24551 {
        top: -190px;
        margin-bottom: -7px;
        width: 8%;
        left: 0%;
        margin-left: 46.01%;
    }

    #u24551 {
        width: 82px;
        margin-right: -10000px;
        margin-top: 915px;
        margin-left: 50%;
        left: -41px;
    }

    #u24551 {
        width: 82px;
        margin-right: -10000px;
        margin-top: 915px;
        margin-left: 50%;
        left: -41px;
    }
    #u24551 {
        z-index: 86;
        background-color: transparent;
        position: relative;
    }

    #u24551 {
        width: 118px;
        left: -59px;
        margin: 284px -10000px -30px 50%;
    }

    #u24551 {
        z-index: 86;
        background-color: transparent;
        position: relative;
        margin-top: 195px;
    }

    #u24550 {
        min-height: 373px;
    }

    #u24550_align_to_page {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 100%;
    }
}