#muse_css_mq {
    background-color: #FFFFFF;
}

#bp_infinity.active {
    display: block;
}

#page {
    min-height: 500px;
}

#u23786 {
    left: 100px;
}

#menuu23830 {
    z-index: 32;
    width: 400px;
    height: 50px;
    position: fixed;
    top: 0px;
    right: 170px;
}

#u23831 {
    width: 98px;
    min-height: 50px;
    position: relative;
    margin-right: -10000px;
}

#u23832 {
    width: 98px;
    padding-bottom: 36px;
    position: relative;
}

#u23832:hover {
    width: 98px;
    min-height: 0px;
    margin: 0px;
}

#u23835-4 {
    width: 98px;
    min-height: 14px;
    position: relative;
    margin-right: -10000px;
    top: 18px;
}

#u23832:hover #u23835-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 98px;
    margin: 0px -10000px 0px 0px;
}

#u27205 {
    width: 98px;
    min-height: 50px;
    position: relative;
    margin-right: -10000px;
    left: 100px;
}

#u27208 {
    width: 98px;
    padding-bottom: 36px;
    position: relative;
}

#u23832.MuseMenuActive,
#u27208:hover {
    width: 98px;
    min-height: 0px;
    margin: 0px;
}

#u27208.MuseMenuActive {
    width: 98px;
    min-height: 0px;
    margin: 0px;
}

#u27209-4 {
    width: 98px;
    min-height: 14px;
    position: relative;
    margin-right: -10000px;
    top: 18px;
}

#u23832.MuseMenuActive #u23835-4,
#u27208:hover #u27209-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 98px;
    margin: 0px -10000px 0px 0px;
}

#u27208.MuseMenuActive #u27209-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 98px;
    margin: 0px -10000px 0px 0px;
}

#u27296 {
    width: 99px;
    min-height: 50px;
    position: relative;
    margin-right: -10000px;
    left: 200px;
}

#u27299 {
    width: 99px;
    padding-bottom: 36px;
    position: relative;
}

#u27299:hover {
    width: 99px;
    min-height: 0px;
    margin: 0px;
}

#u27300-4 {
    width: 99px;
    min-height: 14px;
    position: relative;
    margin-right: -10000px;
    top: 18px;
}

#u27299:hover #u27300-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 99px;
    margin: 0px -10000px 0px 0px;
}

#u27387 {
    width: 99px;
    min-height: 50px;
    position: relative;
    margin-right: -10000px;
    left: 301px;
}

#u27390 {
    width: 99px;
    padding-bottom: 36px;
    position: relative;
}

#u27299.MuseMenuActive,
#u27390:hover {
    width: 99px;
    min-height: 0px;
    margin: 0px;
}

#u27390.MuseMenuActive {
    width: 99px;
    min-height: 0px;
    margin: 0px;
}

#u27392-4 {
    width: 99px;
    min-height: 14px;
    position: relative;
    margin-right: -10000px;
    top: 18px;
}

#u27299.MuseMenuActive #u27300-4,
#u27390:hover #u27392-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 99px;
    margin: 0px -10000px 0px 0px;
}

#u27390.MuseMenuActive #u27392-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 99px;
    margin: 0px -10000px 0px 0px;
}

#u39343-4 {
    z-index: 65;
    right: 115px;
}

#u39344-4 {
    z-index: 69;
    right: 80px;
}

#ppu25394 {
    z-index: 0;
    padding-bottom: 0px;
    margin-right: -10000px;
    margin-top: 50px;
    width: 100%;
}

#pu25394 {
    z-index: 2;
    width: 86.83%;
}

#u25394 {
    background-image: url("../images/lrcp-cobertura-foto.jpg?crc=3868331434");
    padding-bottom: 3px;
    position: relative;
    margin-right: -10000px;
    width: 57.59%;
}

#u25390 {
    margin-top: 294px;
    width: 120.83%;
    left: 9.8%;
}

#pu25392 {
    z-index: 9;
    margin-right: -10000px;
    margin-top: 178px;
    width: 28.36%;
    margin-left: 71.65%;
}

#u25392 {
    width: 28.86%;
    margin-left: 35.58%;
}

#u25388-4 {
    min-height: 33px;
    line-height: 31px;
    font-size: 26px;
    margin-top: 25px;
    width: 100%;
}

#u29212-4 {
    min-height: 138px;
    margin-top: 6px;
    width: 99.72%;
    margin-left: 0.29%;
}

#u39749 {
    background: -webkit-gradient(linear, center top, center bottom, from(#009245), color-stop(60%, #39B54A));
    background: -webkit-linear-gradient(top, #009245, #39B54A 60%);
    background: linear-gradient(to bottom, #009245, #39B54A 60%);
    padding-bottom: 109px;
    top: -1px;
    margin-bottom: -1px;
}

#u25397 {
    margin-right: -10000px;
    margin-top: 148px;
    width: 8.21%;
    left: 35.87%;
}

#u25393,
#u25398 {
    width: 100%;
}

#pu25396-6 {
    z-index: 14;
    margin-right: -10000px;
    margin-top: 147px;
    width: 25.25%;
    margin-left: 46.42%;
}

#u25396-6 {
    line-height: 24px;
    text-align: left;
    font-size: 20px;
    width: 100%;
}

#u25400-4 {
    min-height: 30px;
    margin-top: 16px;
    width: 29.79%;
}

#u25400-4:hover {
    margin-top: 16px;
    min-height: 30px;
    width: 29.79%;
    margin-left: 0%;
}

.css_verticalspacer .verticalspacer {
    height: calc(100vh - 1217px);
}

#u23861 {
    min-height: 33px;
    padding-bottom: 17px;
}

#u23859-8 {
    z-index: 57;
    min-height: 15px;
    margin-top: 18px;
    width: 88.69%;
    left: 5.66%;
}

#u23861-bw {
    min-height: 33px;
    margin-top: -1px;
}