#menuu23830 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
}

#u23831,
#u23832 {
    background-color: transparent;
}

#u23835-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    line-height: 14px;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    font-family: lato, sans-serif;
    font-weight: 500;
}

#u23832:hover #u23835-4 p {
    color: #ff9934;
    visibility: inherit;
}

#u27205,
#u27208 {
    background-color: transparent;
}

#u27209-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    line-height: 14px;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    font-family: lato, sans-serif;
    font-weight: 500;
}

#u27208:hover #u27209-4 p {
    color: #ff9934;
    visibility: inherit;
}

#u27296,
#u27299 {
    background-color: transparent;
}

#u27300-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    line-height: 14px;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    font-family: lato, sans-serif;
    font-weight: 500;
}

#u27299:hover #u27300-4 p {
    color: #ff9934;
    visibility: inherit;
}

#u27387,
#u27390 {
    background-color: transparent;
}

#u27392-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    line-height: 14px;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    font-family: lato, sans-serif;
    font-weight: 500;
}

#u27390:hover #u27392-4 p {
    color: #ff9934;
    visibility: inherit;
}

#u23832.MuseMenuActive #u23835-4 p,
#u27208.MuseMenuActive #u27209-4 p,
#u27299.MuseMenuActive #u27300-4 p,
#u27390.MuseMenuActive #u27392-4 p {
    color: #ff9934;
    visibility: inherit;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}