#muse_css_mq {
    background-color: #FFFFFF;
}

#bp_infinity.active {
    display: block;
}

#page {
    min-height: 1247px;
}

#u348 {
    left: 100px;
}

#menuu978 {
    z-index: 85;
    width: 400px;
    height: 50px;
    position: fixed;
    top: 0px;
    right: 170px;
}

#u979 {
    width: 98px;
    min-height: 50px;
    position: relative;
    margin-right: -10000px;
}

#u980 {
    width: 98px;
    padding-bottom: 36px;
    position: relative;
}

#u980:hover {
    width: 98px;
    min-height: 0px;
    margin: 0px;
}

#u983-4 {
    width: 98px;
    min-height: 14px;
    position: relative;
    margin-right: -10000px;
    top: 18px;
}

#u980:hover #u983-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 98px;
    margin: 0px -10000px 0px 0px;
}

#u12879 {
    width: 98px;
    min-height: 50px;
    position: relative;
    margin-right: -10000px;
    left: 100px;
}

#u12880 {
    width: 98px;
    padding-bottom: 36px;
    position: relative;
}

#u980.MuseMenuActive,
#u12880.MuseMenuActive {
    width: 98px;
    min-height: 0px;
    margin: 0px;
}

#u12882-4 {
    width: 98px;
    min-height: 14px;
    position: relative;
    margin-right: -10000px;
    top: 18px;
}

#u980.MuseMenuActive #u983-4,
#u12880:hover #u12882-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 98px;
    margin: 0px -10000px 0px 0px;
}

#u12880.MuseMenuActive #u12882-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 98px;
    margin: 0px -10000px 0px 0px;
}

#u1213 {
    width: 99px;
    min-height: 50px;
    position: relative;
    margin-right: -10000px;
    left: 200px;
}

#u1214 {
    width: 99px;
    padding-bottom: 36px;
    position: relative;
}

#u1216-4 {
    width: 99px;
    min-height: 14px;
    position: relative;
    margin-right: -10000px;
    top: 18px;
}

#u1214:hover #u1216-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 99px;
    margin: 0px -10000px 0px 0px;
}

#u1311 {
    width: 99px;
    min-height: 50px;
    position: relative;
    margin-right: -10000px;
    left: 301px;
}

#u1312 {
    width: 99px;
    padding-bottom: 36px;
    position: relative;
}

#u1214.MuseMenuActive,
#u1312.MuseMenuActive {
    width: 99px;
    min-height: 0px;
    margin: 0px;
}

#u1315-4 {
    width: 99px;
    min-height: 14px;
    position: relative;
    margin-right: -10000px;
    top: 18px;
}

#u1214.MuseMenuActive #u1216-4,
#u1312:hover #u1315-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 99px;
    margin: 0px -10000px 0px 0px;
}

#u1312.MuseMenuActive #u1315-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 99px;
    margin: 0px -10000px 0px 0px;
}

#u37334-4 {
    z-index: 116;
    right: 115px;
}

#u37470-4 {
    z-index: 120;
    right: 80px;
}

#pslideshowu39787 {
    margin-right: -10000px;
    margin-top: 50px;
}

#u39806,
#u39806popup,
#u39807,
#u39809,
#u39811 {
    width: 1450px;
    height: 880px;
}

#u39793popup {
    top: 311px;
    height: 247px;
    width: 67.32%;
    left: 16.35%;
}

#u39796-2,
#u39796-4 {
    font-size: 48px;
    line-height: 53px;
}

#u39796-11,
#u39795-9,
#u39794-9 {
    min-height: 227px;
}

#u39795-2,
#u39794-2 {
    font-size: 48px;
    line-height: 67px;
    padding-top: 25px;
}

#u39796-9,
#u39795-7,
#u39794-7 {
    line-height: 0px;
}

#u39796-5,
#u39796-6,
#u39796-7,
#u39795-3,
#u39795-4,
#u39795-5,
#u39794-3,
#u39794-4,
#u39794-5 {
    font-size: 25px;
    line-height: 35px;
}

#u39805-3popup {
    top: 372px;
    left: 12.69%;
}

#u39791-3popup {
    top: 372px;
    left: 85.25%;
}

#u5729 {
    height: 294px;
}

#u5729-bw {
    margin-top: 708px;
    height: 294px;
}

#u5412-10 {
    margin-right: -10000px;
    margin-top: 974px;
    width: 20.42%;
    left: 31.94%;
}

#u5425 {
    width: 88px;
    margin-top: 976px;
    left: 23.45%;
}

#widgetu5447 {
    padding-bottom: 0px;
    margin-right: -10000px;
    margin-top: 991px;
    width: 23.45%;
    left: 55.11%;
}

#widgetu5448 {
    width: 342px;
    height: 30px;
    margin-left: 50%;
    left: -171px;
}

#widgetu5448.fld-err-st {
    width: 342px;
    height: 30px;
    margin-left: 50%;
    left: -171px;
}

#u5451-4 {
    width: 340px;
    height: 16px;
    margin-left: 50%;
    left: -171px;
}

#widgetu5448.non-empty-st #u5451-4 {
    margin-left: 50%;
    left: -171px;
}

#widgetu5448:hover #u5451-4 {
    min-height: 0px;
    width: 340px;
    height: 16px;
    margin-left: 50%;
    left: -171px;
}

#widgetu5448.focus-st #u5451-4 {
    min-height: 0px;
    width: 340px;
    height: 16px;
    margin-left: 50%;
    left: -171px;
}

#widgetu5448.fld-err-st #u5451-4 {
    min-height: 0px;
    width: 340px;
    height: 16px;
    margin-left: 50%;
    left: -171px;
}

#widgetu5448_input {
    width: 340px;
    min-height: 0px;
    margin-left: 50%;
    left: -170px;
}

#widgetu5448_prompt {
    width: 340px;
    margin-left: 50%;
    left: -170px;
}

#widgetu5448.non-empty-st #widgetu5448_prompt {
    margin-left: 50%;
    left: -170px;
}

#pu5454-4 {
    margin-top: 5px;
    width: 100%;
}

#u5454-4 {
    width: 200px;
    height: 21px;
    margin-top: 1px;
    left: 0px;
    margin-left: 0px;
}

#u5452-4 {
    width: 200px;
    height: 21px;
    margin-top: 1px;
    left: 0px;
    margin-left: 0px;
}

#widgetu5447.frm-sub-st #u5454-4,
#widgetu5447.frm-subm-err-st #u5452-4 {
    left: 0px;
    margin-left: 0px;
}

#u5453-4 {
    width: 200px;
    height: 21px;
    margin-top: 1px;
    margin-left: 50%;
    left: -170px;
}

#widgetu5447.frm-subm-ok-st #u5453-4 {
    min-height: 4px;
    margin-left: 50%;
    left: -170px;
}

#u5455-4 {
    width: 130px;
    height: 19px;
    margin-right: -10000px;
    margin-left: 50%;
    left: 40px;
}

#u5455-4:hover {
    margin-right: -10000px;
    margin-top: 0px;
    width: 130px;
    height: 19px;
    margin-left: 50%;
    left: 40px;
}

#widgetu5447.frm-sub-st #u5455-4 {
    margin-left: 50%;
    left: 40px;
}

#u5455-4:active {
    margin-right: -10000px;
    margin-top: 0px;
    width: 130px;
    height: 19px;
    margin-left: 50%;
    left: 40px;
}

.css_verticalspacer .verticalspacer {
    height: calc(100vh - 1167px);
}

#u256 {
    min-height: 33px;
    padding-bottom: 17px;
}

#u3887-6 {
    z-index: 110;
    min-height: 15px;
    margin-top: 18px;
    width: 88.69%;
    left: 5.66%;
}

#u256-bw {
    min-height: 33px;
    margin-top: -1px;
}

.verticalspacer {
    min-height: 80px;
}