#muse_css_mq {
    background-color: #FFFFFF;
}

#bp_infinity.active {
    display: block;
}

#page {
    min-height: 667px;
}

#u348 {
    left: 100px;
}

#menuu978 {
    z-index: 13;
    width: 400px;
    height: 50px;
    position: fixed;
    top: 0px;
    right: 170px;
}

#u979 {
    width: 98px;
    min-height: 50px;
    position: relative;
    margin-right: -10000px;
}

#u980 {
    width: 98px;
    padding-bottom: 36px;
    position: relative;
}

#u980:hover {
    width: 98px;
    min-height: 0px;
    margin: 0px;
}

#u983-4 {
    width: 98px;
    min-height: 14px;
    position: relative;
    margin-right: -10000px;
    top: 18px;
}

#u980:hover #u983-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 98px;
    margin: 0px -10000px 0px 0px;
}

#u12879 {
    width: 98px;
    min-height: 50px;
    position: relative;
    margin-right: -10000px;
    left: 100px;
}

#u12880 {
    width: 98px;
    padding-bottom: 36px;
    position: relative;
}

#u980.MuseMenuActive,
#u12880.MuseMenuActive {
    width: 98px;
    min-height: 0px;
    margin: 0px;
}

#u12882-4 {
    width: 98px;
    min-height: 14px;
    position: relative;
    margin-right: -10000px;
    top: 18px;
}

#u980.MuseMenuActive #u983-4,
#u12880:hover #u12882-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 98px;
    margin: 0px -10000px 0px 0px;
}

#u12880.MuseMenuActive #u12882-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 98px;
    margin: 0px -10000px 0px 0px;
}

#u1213 {
    width: 99px;
    min-height: 50px;
    position: relative;
    margin-right: -10000px;
    left: 200px;
}

#u1214 {
    width: 99px;
    padding-bottom: 36px;
    position: relative;
}

#u1216-4 {
    width: 99px;
    min-height: 14px;
    position: relative;
    margin-right: -10000px;
    top: 18px;
}

#u1214:hover #u1216-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 99px;
    margin: 0px -10000px 0px 0px;
}

#u1311 {
    width: 99px;
    min-height: 50px;
    position: relative;
    margin-right: -10000px;
    left: 301px;
}

#u1312 {
    width: 99px;
    padding-bottom: 36px;
    position: relative;
}

#u1214.MuseMenuActive,
#u1312.MuseMenuActive {
    width: 99px;
    min-height: 0px;
    margin: 0px;
}

#u1315-4 {
    width: 99px;
    min-height: 14px;
    position: relative;
    margin-right: -10000px;
    top: 18px;
}

#u1214.MuseMenuActive #u1216-4,
#u1312:hover #u1315-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 99px;
    margin: 0px -10000px 0px 0px;
}

#u1312.MuseMenuActive #u1315-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 99px;
    margin: 0px -10000px 0px 0px;
}

#u39249-4 {
    z-index: 44;
    right: 115px;
}

#u39250-4 {
    z-index: 48;
    right: 80px;
}

#u11741-7 {
    min-height: 200px;
    margin-right: -10000px;
    margin-top: 210px;
    width: 50.21%;
    left: 24.9%;
}

.css_verticalspacer .verticalspacer {
    height: calc(100vh - 460px);
}

#u256 {
    min-height: 33px;
    padding-bottom: 17px;
}

#u3887-6 {
    z-index: 38;
    min-height: 15px;
    margin-top: 18px;
    width: 88.69%;
    left: 5.66%;
}

#u256-bw {
    min-height: 33px;
    margin-top: -1px;
}

.verticalspacer {
    min-height: 207px;
}