#muse_css_mq {
    background-color: #FFFFFF;
}

#bp_infinity.active {
    display: block;
}

#page {
    min-height: 2105px;
}

#u348 {
    left: 100px;
}

#menuu978 {
    z-index: 155;
    width: 400px;
    height: 50px;
    position: fixed;
    top: 0px;
    right: 170px;
}

#u979 {
    width: 98px;
    min-height: 50px;
    position: relative;
    margin-right: -10000px;
}

#u980 {
    width: 98px;
    padding-bottom: 36px;
    position: relative;
}

#u980:hover {
    width: 98px;
    min-height: 0px;
    margin: 0px;
}

#u983-4 {
    width: 98px;
    min-height: 14px;
    position: relative;
    margin-right: -10000px;
    top: 18px;
}

#u980:hover #u983-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 98px;
    margin: 0px -10000px 0px 0px;
}

#u12879 {
    width: 98px;
    min-height: 50px;
    position: relative;
    margin-right: -10000px;
    left: 100px;
}

#u12880 {
    width: 98px;
    padding-bottom: 36px;
    position: relative;
}

#u980.MuseMenuActive,
#u12880.MuseMenuActive {
    width: 98px;
    min-height: 0px;
    margin: 0px;
}

#u12882-4 {
    width: 98px;
    min-height: 14px;
    position: relative;
    margin-right: -10000px;
    top: 18px;
}

#u980.MuseMenuActive #u983-4,
#u12880:hover #u12882-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 98px;
    margin: 0px -10000px 0px 0px;
}

#u12880.MuseMenuActive #u12882-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 98px;
    margin: 0px -10000px 0px 0px;
}

#u1213 {
    width: 99px;
    min-height: 50px;
    position: relative;
    margin-right: -10000px;
    left: 200px;
}

#u1214 {
    width: 99px;
    padding-bottom: 36px;
    position: relative;
}

#u1216-4 {
    width: 99px;
    min-height: 14px;
    position: relative;
    margin-right: -10000px;
    top: 18px;
}

#u1214:hover #u1216-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 99px;
    margin: 0px -10000px 0px 0px;
}

#u1311 {
    width: 99px;
    min-height: 50px;
    position: relative;
    margin-right: -10000px;
    left: 301px;
}

#u1312 {
    width: 99px;
    padding-bottom: 36px;
    position: relative;
}

#u1214.MuseMenuActive,
#u1312.MuseMenuActive {
    width: 99px;
    min-height: 0px;
    margin: 0px;
}

#u1315-4 {
    width: 99px;
    min-height: 14px;
    position: relative;
    margin-right: -10000px;
    top: 18px;
}

#u1214.MuseMenuActive #u1216-4,
#u1312:hover #u1315-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 99px;
    margin: 0px -10000px 0px 0px;
}

#u1312.MuseMenuActive #u1315-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 99px;
    margin: 0px -10000px 0px 0px;
}

#u39092-4 {
    z-index: 188;
    right: 115px;
}

#u39093-4 {
    z-index: 192;
    right: 80px;
}

#pu6526 {
    z-index: 2;
    padding-bottom: 0px;
    margin-right: -10000px;
    margin-top: 50px;
    width: 100%;
}

#u6526 {
    min-height: 554px;
    padding-bottom: 90px;
}

#u6566-14 {
    min-height: 427px;
    background-color: #599C7D;
    background-color: rgba(0, 104, 55, 0.65);
    margin-top: 127px;
    width: 42.49%;
    left: 28.76%;
}

#u6566-2 {
    font-size: 30px;
    line-height: 36px;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 80px;
}

#u6566-3 {
    padding-right: 60px;
    padding-left: 60px;
}

#u6566-6,
#u6566-9 {
    font-size: 18px;
    line-height: 14px;
    padding-right: 60px;
    padding-left: 60px;
}

#u6566-5,
#u6566-8,
#u6566-11 {
    font-size: 18px;
    line-height: 25px;
    padding-right: 60px;
    padding-left: 60px;
}

#u6566-12 {
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 40px;
}

#u6545 {
    width: 113px;
    margin-top: 70px;
    margin-left: 50%;
    left: -56px;
}

#permisos {
    margin-right: -10000px;
    width: 22px;
    margin-top: 452px;
    left: 48.63%;
}

#u6526-bw {
    min-height: 554px;
}

#ppu6741-4 {
    z-index: 0;
    margin-top: 108px;
    width: 55.59%;
    margin-left: 22.35%;
}

#pu6741-4 {
    z-index: 75;
    margin-right: -10000px;
    width: 53.48%;
}

#u6741-4 {
    min-height: 30px;
    line-height: 28px;
    font-size: 23px;
    width: 100%;
}

#u6749-4 {
    min-height: 104px;
    line-height: 19px;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
}

#pu6757 {
    z-index: 67;
    margin-top: 24px;
    width: 100%;
}

#u6757 {
    margin-top: 6px;
    width: 38.06%;
    left: 61.95%;
}

#u6777 {
    width: 58.24%;
}

#responsabilidad {
    margin-top: 4px;
    left: 90.03%;
}

#u6629 {
    background-image: url("../images/lrcp-nosotros-legal-u6629-fr.jpg?crc=229354077");
    position: relative;
    margin-right: -10000px;
    width: 39.21%;
    left: 60.8%;
}

#u6645 {
    padding-bottom: 12px;
    width: 32.28%;
    margin-left: 68.04%;
}

#u6665 {
    margin-top: 10px;
    width: 74.51%;
    left: 13.73%;
}

#u6629_position_content,
#u6661 {
    width: 100%;
}

#pamphletu7254 {
    margin-top: 137px;
    width: 219.63%;
    margin-left: -59.82%;
    left: -238px;
}

#u7274 {
    margin-right: -10000px;
    width: 27.81%;
    left: 70.47%;
}

#u7275 {
    padding-bottom: 2px;
}

#u7276-4 {
    min-height: 20px;
    width: 90.68%;
    left: 3.11%;
}

#u7275:hover #u7276-4 {
    min-height: 20px;
    width: 90.68%;
}

#u7275.PamphletThumbSelected #u7276-4 {
    min-height: 20px;
    width: 90.68%;
}

#u7255 {
    background-color: #444444;
    background-color: rgba(48, 48, 48, 0.9);
}

#u7255popup {
    margin-top: -305px;
    height: 406px;
    width: 93.66%;
    margin-left: 3.18%;
}

#u7256 {
    padding-top: 30px;
}

#u7263-6 {
    min-height: 47px;
    width: 100%;
}

#u7259-8 {
    min-height: 80px;
    margin-top: 10px;
    width: 100%;
}

#u7261-8 {
    min-height: 80px;
    top: -1px;
    margin-bottom: -1px;
    width: 100%;
}

#u7262-8,
#u7260-8 {
    min-height: 80px;
    width: 100%;
}

#u7277 {
    width: 30px;
    height: 25px;
}

#u7277:hover {
    width: 30px;
    height: 25px;
}

#u7277:active {
    width: 30px;
    height: 25px;
}

#u7278-4 {
    width: 23px;
    left: 10%;
}

#u7277popup {
    margin-top: -290px;
    width: 30px;
    margin-left: 90.93%;
}

#u6821 {
    min-height: 478.5500000000004px;
    background-image: url("../images/lrcp-nosotros-responsabilidad.jpg?crc=4053573867");
    padding-bottom: 0px;
}

#u6821_align_to_page {
    padding-top: 97px;
    padding-bottom: 110px;
}

#u6877 {
    width: 106px;
    left: 60.14%;
}

#u6837-4 {
    min-height: 30px;
    line-height: 28px;
    font-size: 23px;
    margin-top: 19px;
    width: 28.35%;
    left: 49.59%;
}

#u6855-4 {
    min-height: 105px;
    line-height: 19px;
    font-size: 16px;
    margin-top: 11px;
    width: 28.35%;
    left: 49.59%;
}

#u6821-bw {
    min-height: 478.5500000000004px;
    margin-top: 107px;
}

#pu7180 {
    z-index: 81;
    margin-top: 104px;
    width: 46.07%;
    margin-left: 26.97%;
}

#u7180 {
    width: 87px;
    margin-right: -10000px;
    margin-top: 4px;
}

#u7192 {
    width: 87px;
    margin-right: -10000px;
    margin-top: 6px;
    left: 45.66%;
}

#u7186 {
    width: 87px;
    margin-right: -10000px;
    left: 86.98%;
}

#pu7132-4 {
    z-index: 59;
    margin-top: 9px;
    width: 55.59%;
    margin-left: 22.35%;
}

#u7132-4 {
    min-height: 29px;
    line-height: 28px;
    font-size: 23px;
    margin-right: -10000px;
    width: 28.54%;
}

#u7008-4 {
    min-height: 29px;
    line-height: 28px;
    font-size: 23px;
    margin-right: -10000px;
    width: 28.54%;
    left: 36.48%;
}

#u7163-4 {
    min-height: 29px;
    line-height: 28px;
    font-size: 23px;
    margin-right: -10000px;
    width: 28.54%;
    left: 71.47%;
}

#pu7114-4 {
    z-index: 43;
    margin-top: 7px;
    width: 55.59%;
    margin-left: 22.35%;
}

#u7114-4 {
    min-height: 143px;
    margin-right: -10000px;
    width: 28.54%;
}

#u6990-4 {
    min-height: 105px;
    margin-right: -10000px;
    width: 28.54%;
    left: 36.48%;
}

#u7145-14 {
    min-height: 125px;
    margin-right: -10000px;
    width: 28.54%;
    left: 71.47%;
}

#u6925 {
    height: 283px;
    background-image: url("../images/lrcp-nosotros-mision%20vision%20valores.jpg?crc=3809472261");
}

#u6925-bw {
    height: 283px;
}

.css_verticalspacer .verticalspacer {
    height: calc(100vh - 2372px);
}

#u256 {
    min-height: 32px;
    padding-bottom: 18px;
}

#u3887-6 {
    z-index: 180;
    min-height: 15px;
    margin-top: 17px;
    width: 88.69%;
    left: 5.66%;
}

#u256-bw {
    min-height: 32px;
    margin-top: -1px;
}

.verticalspacer {
    min-height: 1px;
}