#muse_css_mq {
    background-color: #FFFFFF;
}

#bp_infinity.active {
    display: block;
}

#page {
    min-height: 1211px;
}

#u348 {
    left: 100px;
}

#menuu978 {
    z-index: 32;
    width: 400px;
    height: 50px;
    position: fixed;
    top: 0px;
    right: 170px;
}

#u979 {
    width: 98px;
    min-height: 50px;
    position: relative;
    margin-right: -10000px;
}

#u980 {
    width: 98px;
    padding-bottom: 36px;
    position: relative;
}

#u980:hover {
    width: 98px;
    min-height: 0px;
    margin: 0px;
}

#u983-4 {
    width: 98px;
    min-height: 14px;
    position: relative;
    margin-right: -10000px;
    top: 18px;
}

#u980:hover #u983-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 98px;
    margin: 0px -10000px 0px 0px;
}

#u12879 {
    width: 98px;
    min-height: 50px;
    position: relative;
    margin-right: -10000px;
    left: 100px;
}

#u12880 {
    width: 98px;
    padding-bottom: 36px;
    position: relative;
}

#u980.MuseMenuActive,
#u12880.MuseMenuActive {
    width: 98px;
    min-height: 0px;
    margin: 0px;
}

#u12882-4 {
    width: 98px;
    min-height: 14px;
    position: relative;
    margin-right: -10000px;
    top: 18px;
}

#u980.MuseMenuActive #u983-4,
#u12880:hover #u12882-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 98px;
    margin: 0px -10000px 0px 0px;
}

#u12880.MuseMenuActive #u12882-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 98px;
    margin: 0px -10000px 0px 0px;
}

#u1213 {
    width: 99px;
    min-height: 50px;
    position: relative;
    margin-right: -10000px;
    left: 200px;
}

#u1214 {
    width: 99px;
    padding-bottom: 36px;
    position: relative;
}

#u1216-4 {
    width: 99px;
    min-height: 14px;
    position: relative;
    margin-right: -10000px;
    top: 18px;
}

#u1214:hover #u1216-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 99px;
    margin: 0px -10000px 0px 0px;
}

#u1311 {
    width: 99px;
    min-height: 50px;
    position: relative;
    margin-right: -10000px;
    left: 301px;
}

#u1312 {
    width: 99px;
    padding-bottom: 36px;
    position: relative;
}

#u1214.MuseMenuActive,
#u1312.MuseMenuActive {
    width: 99px;
    min-height: 0px;
    margin: 0px;
}

#u1315-4 {
    width: 99px;
    min-height: 14px;
    position: relative;
    margin-right: -10000px;
    top: 18px;
}

#u1214.MuseMenuActive #u1216-4,
#u1312:hover #u1315-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 99px;
    margin: 0px -10000px 0px 0px;
}

#u1312.MuseMenuActive #u1315-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 99px;
    margin: 0px -10000px 0px 0px;
}

#u39187-4 {
    z-index: 63;
    right: 115px;
}

#u39188-4 {
    z-index: 67;
    right: 80px;
}

#ppu7794 {
    z-index: 0;
    padding-bottom: 0px;
    margin-right: -10000px;
    margin-top: 50px;
    width: 100%;
}

#pu7794 {
    z-index: 2;
    width: 87.59%;
}

#u7794 {
    background-image: url("../images/lrcp-cobertura-foto.jpg?crc=3868331434");
    padding-bottom: 3px;
    position: relative;
    margin-right: -10000px;
    width: 57.09%;
}

#u7810 {
    margin-top: 294px;
    width: 120.83%;
    left: 9.8%;
}

#pu7945 {
    z-index: 9;
    padding-bottom: 0px;
    margin-right: -10000px;
    margin-top: 190px;
    width: 27.96%;
    margin-left: 72.05%;
}

#u7945 {
    width: 26.2%;
    margin-left: 36.91%;
}

#u7924-4 {
    min-height: 33px;
    line-height: 31px;
    font-size: 26px;
    margin-top: 22px;
    width: 100%;
}

#u7966-4 {
    min-height: 142px;
    line-height: 22px;
    font-size: 18px;
    margin-top: 13px;
    width: 100%;
}

#u39757 {
    background: -webkit-gradient(linear, center top, center bottom, from(#009245), color-stop(60%, #ff9934));
    background: -webkit-linear-gradient(top, #009245, #ff9934 60%);
    background: linear-gradient(to bottom, #009245, #ff9934 60%);
    padding-bottom: 122px;
    top: -1px;
    margin-bottom: -1px;
}

#u8060 {
    margin-right: -10000px;
    margin-top: 135px;
    width: 8.21%;
    left: 38%;
}

#u7942,
#u8056 {
    width: 100%;
}

#pu8084-6 {
    z-index: 18;
    margin-right: -10000px;
    margin-top: 134px;
    width: 25.25%;
    margin-left: 48.56%;
}

#u8084-6 {
    line-height: 24px;
    text-align: left;
    font-size: 20px;
    width: 100%;
}

#u8094-4 {
    min-height: 32px;
    margin-top: 16px;
    width: 29.79%;
}

#u8094-4:hover {
    margin-top: 16px;
    min-height: 32px;
    width: 29.79%;
    margin-left: 0%;
}

.css_verticalspacer .verticalspacer {
    height: calc(100vh - 1217px);
}

#u256 {
    min-height: 33px;
    padding-bottom: 17px;
}

#u3887-6 {
    z-index: 57;
    min-height: 15px;
    margin-top: 18px;
    width: 88.69%;
    left: 5.66%;
}

#u256-bw {
    min-height: 33px;
    margin-top: -1px;
}