#muse_css_mq {
    background-color: #FFFFFF;
}

#bp_infinity.active {
    display: block;
}

#page {
    min-height: 1384px;
}

#u23786 {
    left: 100px;
}

#menuu23830 {
    z-index: 92;
    width: 400px;
    height: 50px;
    position: fixed;
    top: 0px;
    right: 170px;
}

#u23831 {
    width: 98px;
    min-height: 50px;
    position: relative;
    margin-right: -10000px;
}

#u23832 {
    width: 98px;
    padding-bottom: 36px;
    position: relative;
}

#u23832:hover {
    width: 98px;
    min-height: 0px;
    margin: 0px;
}

#u23835-4 {
    width: 98px;
    min-height: 14px;
    position: relative;
    margin-right: -10000px;
    top: 18px;
}

#u23832:hover #u23835-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 98px;
    margin: 0px -10000px 0px 0px;
}

#u27205 {
    width: 98px;
    min-height: 50px;
    position: relative;
    margin-right: -10000px;
    left: 100px;
}

#u27208 {
    width: 98px;
    padding-bottom: 36px;
    position: relative;
}

#u23832.MuseMenuActive,
#u27208:hover {
    width: 98px;
    min-height: 0px;
    margin: 0px;
}

#u27208.MuseMenuActive {
    width: 98px;
    min-height: 0px;
    margin: 0px;
}

#u27209-4 {
    width: 98px;
    min-height: 14px;
    position: relative;
    margin-right: -10000px;
    top: 18px;
}

#u23832.MuseMenuActive #u23835-4,
#u27208:hover #u27209-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 98px;
    margin: 0px -10000px 0px 0px;
}

#u27208.MuseMenuActive #u27209-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 98px;
    margin: 0px -10000px 0px 0px;
}

#u27296 {
    width: 99px;
    min-height: 50px;
    position: relative;
    margin-right: -10000px;
    left: 200px;
}

#u27299 {
    width: 99px;
    padding-bottom: 36px;
    position: relative;
}

#u27299:hover {
    width: 99px;
    min-height: 0px;
    margin: 0px;
}

#u27300-4 {
    width: 99px;
    min-height: 14px;
    position: relative;
    margin-right: -10000px;
    top: 18px;
}

#u27299:hover #u27300-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 99px;
    margin: 0px -10000px 0px 0px;
}

#u27387 {
    width: 99px;
    min-height: 50px;
    position: relative;
    margin-right: -10000px;
    left: 301px;
}

#u27390 {
    width: 99px;
    padding-bottom: 36px;
    position: relative;
}

#u27299.MuseMenuActive,
#u27390:hover {
    width: 99px;
    min-height: 0px;
    margin: 0px;
}

#u27390.MuseMenuActive {
    width: 99px;
    min-height: 0px;
    margin: 0px;
}

#u27392-4 {
    width: 99px;
    min-height: 14px;
    position: relative;
    margin-right: -10000px;
    top: 18px;
}

#u27299.MuseMenuActive #u27300-4,
#u27390:hover #u27392-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 99px;
    margin: 0px -10000px 0px 0px;
}

#u27390.MuseMenuActive #u27392-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 99px;
    margin: 0px -10000px 0px 0px;
}

#u39312-4 {
    z-index: 125;
    right: 115px;
}

#u39313-4 {
    z-index: 129;
    right: 80px;
}

#pppamphletu24415 {
    z-index: 0;
    margin-right: -10000px;
    margin-top: 40px;
    width: 100%;
}

#ppamphletu24415 {
    left: 0px;
    margin-left: 0px;
}

#u24454popup {
    height: 876px;
}

#u24456 {
    height: 876px;
    background-image: url("../images/lrcp-productos-foto-gas%20natural.jpg?crc=401588418");
}

#u24463 {
    height: 876px;
    background-image: url("../images/lrcp-productos-foto-gas%20lp.jpg?crc=4162347015");
}

#u24459 {
    height: 876px;
    background-image: url("../images/lrcp-productos-foto-gas%20avion.jpg?crc=346465254");
}

#u24458 {
    height: 876px;
    background-image: url("../images/lrcp-productos-foto-turbosina.jpg?crc=270611160");
}

#u24460 {
    height: 876px;
    background-image: url("../images/lrcp-productos-foto-biodiesel.jpg?crc=4115163416");
}

#u24455 {
    height: 876px;
    background-image: url("../images/lrcp-productos-foto-gasolina.jpg?crc=11480550");
}

#u24462 {
    height: 876px;
    background-image: url("../images/lrcp-productos-foto-diesel%20marino.jpg?crc=40226398");
}

#u24457 {
    height: 876px;
    background-image: url("../images/lrcp-productos-foto-diesel.jpg?crc=3777195829");
}

#u24416 {
    margin-top: 328px;
    width: 58.63%;
    left: 20.69%;
}

#pu24445 {
    z-index: 64;
    margin-right: -10000px;
    width: 26.83%;
}

#u24445 {
    width: 100%;
}

#u24445:hover {
    width: 100%;
    margin-left: 0%;
}

#u24445.PamphletThumbSelected {
    width: 100%;
    margin-left: 0%;
}

#u24446 {
    width: 31.28%;
}

#u24445:hover #u24446 {
    margin-top: 0px;
    width: 31.28%;
    margin-left: 0%;
}

#u24445.PamphletThumbSelected #u24446 {
    margin-top: 0px;
    width: 31.28%;
    margin-left: 0%;
}

#u24448-4 {
    min-height: 53px;
    margin-top: 18px;
    width: 60.36%;
    left: 36.13%;
}

#u24445:hover #u24448-4 {
    margin-top: 18px;
    min-height: 53px;
    width: 60.36%;
    margin-left: 0%;
}

#u24445:active #u24448-4 {
    margin-top: 18px;
    min-height: 53px;
    width: 60.36%;
    margin-left: 0%;
}

#u24445.PamphletThumbSelected #u24448-4 {
    margin-top: 18px;
    min-height: 53px;
    width: 60.36%;
    margin-left: 0%;
}

#u24445popup {
    height: 71px;
    width: 99.57%;
}

#u24447,
#u24429 {
    width: 100%;
}

#u24429:hover {
    width: 100%;
}

#u24431 {
    width: 29.96%;
}

#u24429:hover #u24431 {
    width: 29.96%;
    margin-left: 0%;
}

#u24429.PamphletThumbSelected #u24431 {
    width: 29.96%;
    margin-left: 0%;
}

#u24430-4 {
    min-height: 47px;
    margin-top: 21px;
    width: 63.88%;
    left: 36.13%;
}

#u24429:hover #u24430-4 {
    margin-top: 21px;
    min-height: 47px;
    width: 63.88%;
    margin-left: 0%;
}

#u24429.PamphletThumbSelected #u24430-4 {
    margin-top: 21px;
    min-height: 47px;
    width: 63.88%;
    margin-left: 0%;
}

#u24429popup {
    height: 68px;
    margin-top: 11px;
    width: 99.57%;
}

#u24429.PamphletThumbSelected,
#u24432,
#u24425 {
    width: 100%;
}

#u24425:hover {
    width: 100%;
}

#u24426 {
    width: 29.39%;
}

#u24425:hover #u24426 {
    margin-top: 0px;
    width: 29.39%;
    margin-left: 0%;
}

#u24425.PamphletThumbSelected #u24426 {
    margin-top: 0px;
    width: 29.39%;
    margin-left: 0%;
}

#u24428-4 {
    min-height: 49px;
    margin-top: 18px;
    width: 63.6%;
    left: 36.41%;
}

#u24425:hover #u24428-4 {
    margin-top: 18px;
    min-height: 49px;
    width: 63.6%;
    margin-left: 0%;
}

#u24425.PamphletThumbSelected #u24428-4 {
    margin-top: 18px;
    min-height: 49px;
    width: 63.6%;
    margin-left: 0%;
}

#u24425popup {
    height: 67px;
    margin-top: 11px;
    width: 100%;
}

#pu24437 {
    z-index: 43;
    margin-right: -10000px;
    width: 26.95%;
    margin-left: 36.83%;
}

#u24425.PamphletThumbSelected,
#u24427,
#u24437 {
    width: 100%;
}

#u24437:hover {
    width: 100%;
}

#u24439 {
    margin-top: 1px;
    width: 30.57%;
}

#u24437:hover #u24439 {
    margin-top: 1px;
    width: 30.57%;
    margin-left: 0%;
}

#u24437.PamphletThumbSelected #u24439 {
    margin-top: 1px;
    width: 30.57%;
    margin-left: 0%;
}

#u24438-4 {
    min-height: 53px;
    margin-top: 18px;
    width: 62.89%;
    left: 37.12%;
}

#u24437:hover #u24438-4 {
    margin-top: 18px;
    min-height: 53px;
    width: 62.89%;
    margin-left: 0%;
}

#u24437.PamphletThumbSelected #u24438-4 {
    margin-top: 18px;
    min-height: 53px;
    width: 62.89%;
    margin-left: 0%;
}

#u24437popup {
    height: 72px;
    width: 100%;
}

#u24437.PamphletThumbSelected,
#u24440,
#u24433 {
    width: 100%;
}

#u24433:hover {
    width: 100%;
}

#u24434 {
    width: 30.57%;
}

#u24433:hover #u24434 {
    margin-top: 0px;
    width: 30.57%;
    margin-left: 0%;
}

#u24433.PamphletThumbSelected #u24434 {
    margin-top: 0px;
    width: 30.57%;
    margin-left: 0%;
}

#u24436-4 {
    min-height: 51px;
    margin-top: 19px;
    width: 55.03%;
    left: 38%;
}

#u24433:hover #u24436-4 {
    margin-top: 19px;
    min-height: 51px;
    width: 55.03%;
    margin-left: 0%;
}

#u24433.PamphletThumbSelected #u24436-4 {
    margin-top: 19px;
    min-height: 51px;
    width: 55.03%;
    margin-left: 0%;
}

#u24433popup {
    height: 70px;
    margin-top: 10px;
    width: 100%;
}

#u24421 {
    padding-bottom: 10px;
    width: 100%;
}

#u24433.PamphletThumbSelected,
#u24435,
#u24421:hover {
    width: 100%;
}

#u24423 {
    margin-top: 6px;
    width: 27.08%;
    left: 1.75%;
}

#u24421:hover #u24423 {
    margin-top: 6px;
    width: 27.08%;
    margin-left: 0%;
}

#u24421.PamphletThumbSelected #u24423 {
    margin-top: 6px;
    width: 27.08%;
    margin-left: 0%;
}

#u24422-6 {
    min-height: 47px;
    margin-top: 7px;
    width: 59.83%;
    left: 38%;
}

#u24421:hover #u24422-6 {
    margin-top: 7px;
    min-height: 47px;
    width: 59.83%;
}

#u24421:active #u24422-6 {
    margin-top: 7px;
    min-height: 47px;
    width: 59.83%;
}

#u24421.PamphletThumbSelected #u24422-6 {
    margin-top: 7px;
    min-height: 47px;
    width: 59.83%;
}

#u24421popup {
    height: 78px;
    margin-top: 7px;
    width: 100%;
}

#pu24417 {
    z-index: 20;
    margin-right: -10000px;
    width: 26.36%;
    margin-left: 73.65%;
}

#u24421.PamphletThumbSelected,
#u24424,
#u24417 {
    width: 100%;
}

#u24417:hover {
    width: 100%;
}

#u24419 {
    width: 29.92%;
}

#u24417:hover #u24419 {
    width: 29.92%;
    margin-left: 0%;
}

#u24417.PamphletThumbSelected #u24419 {
    width: 29.92%;
    margin-left: 0%;
}

#u24418-4 {
    min-height: 49px;
    margin-top: 18px;
    width: 58.49%;
    left: 38.84%;
}

#u24417:hover #u24418-4 {
    margin-top: 18px;
    min-height: 49px;
    width: 58.49%;
    margin-left: 0%;
}

#u24417.PamphletThumbSelected #u24418-4 {
    margin-top: 18px;
    min-height: 49px;
    width: 58.49%;
    margin-left: 0%;
}

#u24417popup {
    height: 67px;
    width: 100%;
}

#u24441 {
    padding-bottom: 1px;
    width: 100%;
}

#u24417.PamphletThumbSelected,
#u24420,
#u24441:hover {
    width: 100%;
}

#u24443 {
    width: 27.68%;
    left: 0.9%;
}

#u24441:hover #u24443 {
    width: 27.68%;
    margin-left: 0%;
}

#u24441.PamphletThumbSelected #u24443 {
    width: 27.68%;
    margin-left: 0%;
}

#u24441.PamphletThumbSelected,
#u24444 {
    width: 100%;
}

#u24442-4 {
    min-height: 41px;
    margin-top: 21px;
    width: 58.49%;
    left: 38.84%;
}

#u24441:hover #u24442-4 {
    margin-top: 21px;
    min-height: 41px;
    width: 58.49%;
    margin-left: 0%;
}

#u24441.PamphletThumbSelected #u24442-4 {
    margin-top: 21px;
    min-height: 41px;
    width: 58.49%;
    margin-left: 0%;
}

#u24441popup {
    height: 64px;
    margin-top: 14px;
    width: 100%;
}

#u24468-4 {
    min-height: 72px;
    line-height: 36px;
    font-size: 30px;
}

#u24468-4-bw {
    z-index: 71;
    min-height: 72px;
    margin-top: 241px;
}

#u24550 {
    min-height: 373px;
}

#u24550_align_to_page {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
}

#u24551 {
    width: 118px;
    left: -59px;
    margin: 284px -10000px -30px 50%;
}

#u24552 {
    margin-bottom: 1px;
}

#u24550-bw {
    min-height: 373px;
    margin-top: 695px;
}

#u24553-6 {
    min-height: 57px;
    line-height: 24px;
    font-size: 20px;
    margin-top: 52px;
    position: relative;
    width: 61.45%;
    left: 0%;
    margin-left: 19.32%;
}

#u24554-4 {
    width: 203px;
    min-height: 32px;
    margin-top: 21px;
    left: -101px;
}

#u24554-4:hover {
    margin-top: 21px;
    min-height: 32px;
    width: 203px;
    left: -101px;
}

.css_verticalspacer .verticalspacer {
    height: calc(100vh - 1319px);
}

#u23861 {
    min-height: 33px;
    padding-bottom: 17px;
}

#u23859-8 {
    z-index: 117;
    min-height: 15px;
    margin-top: 18px;
    width: 88.69%;
    left: 5.66%;
}

#u23861-bw {
    min-height: 33px;
    margin-top: -1px;
}

.verticalspacer {
    min-height: 64px;
}