#muse_css_mq {
    background-color: #FFFFFF;
}

#bp_infinity.active {
    display: block;
}

#page {
    min-height: 1091px;
}

#u348 {
    left: 100px;
}

#menuu978 {
    z-index: 72;
    width: 400px;
    height: 50px;
    position: fixed;
    top: 0px;
    right: 170px;
}

#u979 {
    width: 98px;
    min-height: 50px;
    position: relative;
    margin-right: -10000px;
}

#u980 {
    width: 98px;
    padding-bottom: 36px;
    position: relative;
}

#u980:hover {
    width: 98px;
    min-height: 0px;
    margin: 0px;
}

#u983-4 {
    width: 98px;
    min-height: 14px;
    position: relative;
    margin-right: -10000px;
    top: 18px;
}

#u980:hover #u983-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 98px;
    margin: 0px -10000px 0px 0px;
}

#u12879 {
    width: 98px;
    min-height: 50px;
    position: relative;
    margin-right: -10000px;
    left: 100px;
}

#u12880 {
    width: 98px;
    padding-bottom: 36px;
    position: relative;
}

#u980.MuseMenuActive,
#u12880.MuseMenuActive {
    width: 98px;
    min-height: 0px;
    margin: 0px;
}

#u12882-4 {
    width: 98px;
    min-height: 14px;
    position: relative;
    margin-right: -10000px;
    top: 18px;
}

#u980.MuseMenuActive #u983-4,
#u12880:hover #u12882-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 98px;
    margin: 0px -10000px 0px 0px;
}

#u12880.MuseMenuActive #u12882-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 98px;
    margin: 0px -10000px 0px 0px;
}

#u1213 {
    width: 99px;
    min-height: 50px;
    position: relative;
    margin-right: -10000px;
    left: 200px;
}

#u1214 {
    width: 99px;
    padding-bottom: 36px;
    position: relative;
}

#u1216-4 {
    width: 99px;
    min-height: 14px;
    position: relative;
    margin-right: -10000px;
    top: 18px;
}

#u1214:hover #u1216-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 99px;
    margin: 0px -10000px 0px 0px;
}

#u1311 {
    width: 99px;
    min-height: 50px;
    position: relative;
    margin-right: -10000px;
    left: 301px;
}

#u1312 {
    width: 99px;
    padding-bottom: 36px;
    position: relative;
}

#u1214.MuseMenuActive,
#u1312.MuseMenuActive {
    width: 99px;
    min-height: 0px;
    margin: 0px;
}

#u1315-4 {
    width: 99px;
    min-height: 14px;
    position: relative;
    margin-right: -10000px;
    top: 18px;
}

#u1214.MuseMenuActive #u1216-4,
#u1312:hover #u1315-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 99px;
    margin: 0px -10000px 0px 0px;
}

#u1312.MuseMenuActive #u1315-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 99px;
    margin: 0px -10000px 0px 0px;
}

#u39218-4 {
    z-index: 103;
    right: 115px;
}

#u39219-4 {
    z-index: 107;
    right: 80px;
}

#u8361 {
    padding-top: 39px;
    padding-bottom: 56px;
    margin-right: -10000px;
    margin-top: 62px;
    width: 82.56%;
    margin-left: 8.73%;
    left: 0px;
}

#u8343-4 {
    width: 383px;
    min-height: 39px;
    line-height: 36px;
    font-size: 30px;
    left: -192px;
}

#u8369 {
    height: 254px;
    margin-top: 40px;
    width: 100%;
    margin-left: 0%;
    left: 0px;
}

#u8399-4 {
    width: 513px;
    min-height: 82px;
    line-height: 22px;
    text-align: center;
    font-size: 18px;
    margin-top: 41px;
    margin-left: 50%;
    left: -257px;
}

#pu8417-18 {
    z-index: 12;
    margin-top: 22px;
    width: 58.9%;
    margin-left: 20.56%;
}

#u8417-18 {
    width: 301px;
    min-height: 211px;
    margin-right: -10000px;
    margin-left: 50%;
    left: -334px;
}

#pu8436-4 {
    z-index: 30;
    margin-right: -10000px;
    width: 48.23%;
    margin-left: 25.89%;
}

#u8436-4 {
    width: 340px;
    min-height: 28px;
    margin-left: 50%;
    left: 31.5px;
}

#widgetu8437 {
    width: 0.01px;
    height: 182px;
    margin-top: 1px;
    margin-left: 50%;
    left: 31.5px;
}

#widgetu8443 {
    width: 342px;
    height: 30px;
    margin-right: -10000px;
    margin-top: -1px;
    left: -1px;
}

#widgetu8443.fld-err-st {
    margin-left: 0px;
    margin-right: -10000px;
    margin-top: -1px;
    width: 342px;
    height: 30px;
}

#u8445-4 {
    width: 340px;
    height: 16px;
}

#widgetu8443:hover #u8445-4 {
    margin-left: 0px;
    min-height: 0px;
    width: 340px;
    height: 16px;
}

#widgetu8443.focus-st #u8445-4 {
    margin-left: 0px;
    min-height: 0px;
    width: 340px;
    height: 16px;
}

#widgetu8438 {
    width: 342px;
    height: 30px;
    margin-right: -10000px;
    margin-top: 32px;
    left: -1px;
}

#widgetu8438.fld-err-st {
    margin-left: 0px;
    margin-right: -10000px;
    margin-top: 32px;
    width: 342px;
    height: 30px;
}

#u8439-4 {
    width: 340px;
    height: 16px;
}

#widgetu8443.fld-err-st #u8445-4,
#widgetu8438:hover #u8439-4 {
    margin-left: 0px;
    min-height: 0px;
    width: 340px;
    height: 16px;
}

#widgetu8438.focus-st #u8439-4 {
    margin-left: 0px;
    min-height: 0px;
    width: 340px;
    height: 16px;
}

#widgetu8438.fld-err-st #u8439-4 {
    margin-left: 0px;
    min-height: 0px;
    width: 340px;
    height: 16px;
}

#u8442-4,
#u8452-4,
#u8453-4 {
    width: 200px;
    height: 21px;
    margin-top: 157px;
    left: 140px;
}

#u8447-4 {
    height: 23px;
    margin-right: -10000px;
    margin-top: 152px;
}

#u8447-4:hover {
    margin-left: -1px;
    margin-right: -10001px;
    margin-top: 151px;
    height: 23px;
}

#u8447-4:active {
    margin-left: -1px;
    margin-right: -10001px;
    margin-top: 151px;
    height: 23px;
}

#widgetu8448 {
    width: 342px;
    height: 82px;
    margin-right: -10000px;
    margin-top: 66px;
    left: -1px;
}

#widgetu8448.fld-err-st {
    margin-left: 0px;
    margin-right: -10000px;
    margin-top: 66px;
    width: 342px;
    height: 82px;
}

#u8451-4 {
    width: 340px;
    height: 68px;
}

#widgetu8448:hover #u8451-4 {
    margin-left: 0px;
    min-height: 0px;
    width: 340px;
    height: 68px;
}

#widgetu8448.focus-st #u8451-4 {
    margin-left: 0px;
    min-height: 0px;
    width: 340px;
    height: 68px;
}

#widgetu8448.fld-err-st #u8451-4 {
    margin-left: 0px;
    min-height: 0px;
    width: 340px;
    height: 68px;
}

#widgetu8443_input,
#widgetu8438_input,
#widgetu8448_input {
    width: 340px;
    min-height: 0px;
}

#widgetu8443_prompt,
#widgetu8438_prompt,
#widgetu8448_prompt {
    width: 340px;
}

#u8679 {
    width: 122px;
    margin-top: 56px;
    left: -61px;
}

.css_verticalspacer .verticalspacer {
    height: calc(100vh - 1074px);
}

#u256 {
    min-height: 33px;
    padding-bottom: 17px;
}

#u3887-6 {
    z-index: 97;
    min-height: 15px;
    margin-top: 18px;
    width: 88.69%;
    left: 5.66%;
}

#u256-bw {
    min-height: 33px;
    margin-top: -1px;
}

.html {
    background-image: url("../images/lrcp-nosotros-somos.jpg?crc=3889342630");
}

.verticalspacer {
    min-height: 17px;
}